[submodule "Alchemy/Component/Yaml"]
	path = Alchemy/Component/Yaml
	url = git@github.com:eriknyk/Yaml
[submodule "Alchemy/Component/EventDispatcher"]
	path = Alchemy/Component/EventDispatcher
	url = git@github.com:eriknyk/EventDispatcher
[submodule "Alchemy/Component/Http"]
	path = Alchemy/Component/Http
	url = git@github.com:eriknyk/Http
[submodule "Alchemy/Component/UI"]
	path = Alchemy/Component/UI
	url = git@github.com:eriknyk/UI
[submodule "Alchemy/Component/Routing"]
	path = Alchemy/Component/Routing
	url = git@github.com:eriknyk/Routing
[submodule "Alchemy/Component/Annotations"]
	path = Alchemy/Component/Annotations
	url = git@github.com:eriknyk/Annotations
[submodule "Alchemy/Component/ClassLoader"]
	path = Alchemy/Component/ClassLoader
	url = git@github.com:eriknyk/ClassLoader
[submodule "Alchemy/Component/DiContainer"]
	path = Alchemy/Component/DiContainer
	url = git@github.com:eriknyk/DiContainer
